extends bootstrap
snippet html "html starter"
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>${1}</title>
	</head>
	<body>
		${2}
	</body>
</html>
endsnippet

snippet link "link stylesheet"
<link rel="stylesheet" href="${1:main.css}">
endsnippet

snippet script "script"
<script src="${1:app.js}"></script>
endsnippet

snippet form "form"
<form action="${1:action}" method="${2:get}">
</form>
endsnippet

snippet img "image"
<img src="${1}" alt="${2}">
endsnippet

