extends bootstrap
snippet html "html starter"
<!DOCTYPE html>
<html land="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
	${1}
	</body>
</html>
endsnippet

snippet form "form"
<form action="${1:action}" method="${2:get}">
</form>
endsnippet
