snippet log "console.log"
console.log($1);
endsnippet

snippet strict "use strict"
'use strict';


endsnippet

snippet req "require('...')"
require('${1}')
endsnippet

snippet afunc "function(...) {...}"
function(${1}){
	${2}
}
endsnippet
