snippet log "console.log"
console.log($1);
endsnippet

snippet strict "use strict"
'use strict';


endsnippet

snippet req "require(...)"
require("${1}")
endsnippet

snippet func "function name(...) {...}"
function ${1}(${2}){
	${3}
}
endsnippet

snippet => "arrow function"
(${1}) => { 
	${2} 
}
endsnippet

snippet imp "import from"
import ${1} from "${2}";

endsnippet
