snippet r::g "laravel get route" [i]
Route::get('$1', $2);$3
endsnippet


snippet r::p "laravel post route" [i]
Route::post('$1', $2);$3
endsnippet

snippet r::t "Redirect::to" [i]
return Redirect::to('$1');$2
endsnippet
