snippet pubf
	public function ${1}()
	{
		${2}
	}

snippet prof
	protected function ${1}()
	{
		${2}
	}


snippet pubfs
	public static function ${1}()
	{
		${2}
	}

snippet $
	$this->{$1}

snippet __co
	public function __construct(${1})
	{
		${2}
	}
